*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* navbar */
 .navbar-brand span{
  color: #FEE715;
} 



.nav-item a{
  background:linear-gradient(to right,#f2db0d 50%,#ffffff 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.nav-item a:hover{
  background-position: 0 0;
  transition: 1s;
}
  





/* .nav-item a:hover::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  bottom: 12px;
  left: 0px;
  background-color: #FEE715;
  opacity: 0;
  pointer-events: none;

}


.nav-item a:hover::after {
  transition: 300ms;
  height: 2px;
  content: "";
  background-color: #FEE715;
  width: 100%;
  bottom: 10px;
  left: 0;
  display: block;
  opacity: 1;
 
} */


.navbar{
  background-color: #101820 !important;
  border-bottom: 2px solid #f2db0d;
}


/* intoduction */




.txt-1{
  color: #FEE715;
}

.is-visible{
  color: #FEE715;
}

.introduction{
  background-color: #101820;
  height: 600px !important;
  border-bottom: 2px solid #f2db0d !important;
}

.intro-txt{
  padding: 110px 40px;
}



/* .intro-img{
  height: 350px;
  width: 350px;
  background-color: #FEE715 !important;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  position: relative;
  
} */

/* .scrolled{
  position: fixed;
  width: 100%;
  background-image: linear-gradient(to right, #f2db0d, #f6e603) !important;
  color: #101820 !important;
  transition: .5s;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  z-index: 100;
} */


/* 
.icons:hover{
  transform: translateY(-10px);
  transition: all 0.4s;
  background-color: #f2db0d;
} */

.link-icons:hover{
  color:#f2db0d !important;
  transform: translateY(-10px);
  transition: 0.3s;
}

/* about-me */

.about-me{
  background-color: #101820;
  padding: 100px;
  
}

.about-content{
  color: white;
  box-shadow: 10px 10px 50px #f2db0d !important;
  font-family: "Anek Devanagari", sans-serif;
  border-radius: 20px;
  height: 600px;
  
}


.about-content .underline{
  width: 30% !important;
  height: 3px;
  background-color: #f2db0d;
}

.txt{
  line-height: 35px;
}

 .btn-1:hover{
  background-color: #f2db0d !important;
  color: #101820 !important;
}


.btn-1{
  border: 2px solid #f2db0d !important;
  color: #f2db0d !important;
 
}

.img-2{
  height: 600px !important;
  margin-top: 50px;
  box-shadow: 10px 10px 100px #f2db0d !important;
  margin-left: 30px;
  width: 80%;
  
}

